
.background_Content{
    display: flex;
    justify-content: space-around;
    
}

.header_Content{
    width: 100%;
    height: 100vw;
    position: absolute;
}


img{
    width: 50vw;
    object-fit: cover;
}

.plainBackground{
    width: 50vw;
    background-color: #F4F1E8;
}

.header_Text{
    position: relative;
}